html, body {
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 75%;
  text-align: center;
  margin: auto;
  padding: 0px;
  margin-top: 1%;

  font-family: 'Poppins', sans-serif;
}

.profile-picture {
  border-radius: 50%;
}

h1 {
  font-weight: bolder;
  font-size: 60px;
}

h2 {
  font-weight: bold;
  font-size: 40px;
}

.social-links {
  list-style: none;
  padding: 0px;
  font-size: 20px;
}

.social-links li {
  display: inline-block;
  padding: 8px;
}

.social-links a {
  text-decoration: none;
}

nav a {
  text-decoration: none;
}

.about {
  display: inline-block;
}