html, body {
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 75%;
  text-align: center;
  margin: auto;
  padding: 0px;

  font-family: 'Poppins', sans-serif;
}

.profile-picture {
  border-radius: 50%;
}

h1 {
  font-weight: bolder;
  font-size: 60px;
}

h2 {
  font-weight: bold;
  font-size: 40px;
}

.social-links {
  list-style: none;
  padding: 0px;
  font-size: 20px;
}

.social-links li {
  display: inline-block;
  padding: 8px;
}

.social-links a {
  text-decoration: none;
  color: black;
}

.about {
  display: inline-block;
}

.navbar-wrapper {
  height: 50px;
}

.navbar {
  background-color: white;
  overflow: hidden;
  height: 50px;
}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 14px;
  text-align: center;
  float: none;
  display: inline-block;
}

.sticky {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

